*{
    box-sizing: border-box;
  }
  
  body{
    background-image: url(background.jpg);
    background-size: cover;
    font-family: 'Poppins', sans-serif;
  }
  
  #container{
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    margin: 2% 17% 5%;
    padding: 7% 6%;
  }
  
  header, nav{
    text-align: center;
  }
  
  #logo{
    width:  200px;
    height: auto;
  }
  
  #slogan{
    font-size: 28px;
    color: #00dd00;
  }
  
  nav{
    background-color: #00dd00;
    padding: 1%;
  }
  
  main{
    color: white;
    font-size: small;
  }
  
  .scooter{
    margin-top: 3%;
  }
  
  .name{
    display: inline;
  }
  
  .charge{
    height: 25px;
    border-radius: 5px;
  }
  
  #charge1{
    background-color: #f5b453;
    width: 35%;
  }
  
  #charge2{
    background-color: #1ec31e;
    width: 60%;
  }
  
  #charge3{
    background-color: #be4141;
    width: 17%;
  }
  